@import "../../vars.css";

.container {
    color: var(--color-text);
    padding-top: 61px;
    text-align: center; /* Center the Certifications title */
  }
  
  .title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: inline-block;
  }

.achievementsList {
  list-style: none;
  margin-top: 30px;
  padding-left: 0;
}

.achievement {
  background-color: var(--color-dark);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.achievementTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.achievementDescription {
  font-size: 25px;
  font-weight: 400;
}
