.container {
  color: var(--color-text);
  padding-top: 61px;
  text-align: center; 
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 30px;
  display: inline-block;
}

.certificates {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.certCard {
  flex: 1 1 300px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;  
  min-height: 250px; 
  box-shadow: 0 16px 14px 0 #04152d;
  text-align: center;
}

.certImage {
  width: 100%; 
  height: 120px; 
  object-fit: contain; 
  border-radius: 8px;
  margin-bottom: 20px;
}

.certTitle {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-text);
  margin: 10px 0;
}

.certIssuer {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.certLink {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 600;
  background: var(--color-primary);
  padding: 8px 28px;
  border-radius: 8px;

}

